<div>
  <div class="row">
    <h1>SERVICIO DEL CLIMA</h1>
  </div>
  <div class="row">
    <div class="col-6 tarjeta">
      <div class="row">
        <h1 id="titleZona">Seleccioná la zona</h1>
      </div>
      <div class="row">
        <form class="d-flex flex-column align-self-end">
          <label for="pais">País</label>
          <input type="email" id="pais" placeholder="Seleccioná un país">
          <label for="ciudad">Ciudad</label>
          <input type="text" id="ciudad" placeholder="Seleccioná una ciudad">
          <button id="buscar">BUSCAR</button>
        </form>
      </div>
    </div>
    <div class="col-6 tarjeta">
      <div class="row">Reporte</div>

    </div>
  </div>
</div>
