<div class="d-flex flex-column">
  <div class="row">
    <h1 id="tituloServicio">SERVICIO DEL CLIMA</h1>
  </div>
  <div [hidden]="isLoggedIn" id="logInMessage">
    <h2>Por favor inicie sesión para acceder a la consulta del clima.</h2>
    <i class="wi wi-umbrella"></i>
  </div>
  <div [hidden]="!isLoggedIn">
    <div class="grid">
      <div class="one">
        <div class="row">
          <h1 class="titleZona">Seleccioná la zona</h1>
        </div>
        <form class="d-flex flex-column align-self-end w-100" [formGroup]="busqueda">
          <label for="pais">País</label>
          <input type="email" placeholder="Seleccioná un país" formControlName="country">
          <label for="ciudad">Ciudad</label>
          <input type="text" placeholder="Seleccioná una ciudad" formControlName="city">
          <button id="buscar" (click)="search()">BUSCAR</button>
        </form>
      </div>
      <div class="two">
        <div class="row">
          <h1 class="titleZona">Reporte</h1>
        </div>
        <div class="row" *ngIf="currentResult">
          <div class="col-6">
            <label id="pais">{{currentResult.country}}</label>
            <label id="ciudad">{{currentResult.city}}</label>
            <label id="dia">{{currentResult.day.toUpperCase()}}</label>
            <label id="clima">{{currentResult.weatherDescription.toUpperCase()}}</label>
            <label id="tempCelcius">{{currentResult.celsiusTemperature}}°</label>
            <label id="tempFarenheit">{{currentResult.fahrenheitTemperature}}°</label>
          </div>
          <div class="col-6">
            <i [className]="'wi wi-owm-'+ currentResult.weatherId +' wi-flip-horizontal reporteImg'"></i>
            <section>
              <label id="precipitaciones">Prob. de precipitaciones: {{currentResult.rainProbability}}%</label>
              <label id="humedad">Humedad: {{currentResult.humidity}}%</label>
              <label id="viento">Viento:a {{currentResult.windSpeed}}Km/h.</label>
            </section>
          </div>
        </div>      
      </div>
    </div>
    <div class="three row">
      <div class="col flex-column" *ngFor="let result of forecastResult">
        <label class="day">{{result.day.toUpperCase()}}</label>
        <i [className]="'wi wi-owm-'+ result.weatherId +' wi-flip-horizontal'"></i>
        <label class="weekTemp">{{result.celsiusTemperature}}°</label>
        <label class="weekTemp">{{result.fahrenheitTemperature}}°</label>
      </div>
    </div>
  </div>  
</div>
