/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
body{
  background-color: #f1f1f0;
}
*{
  font-family: Roboto;
}
html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}